# Import Libraries

In [1]:
import pandas as pd

# Obtain Data

Read csv file with medal counts into Pandas

In [2]:
medals_df = pd.read_csv('Data/medals.csv')
medals_df.head()

                     COUNTRY  GOLD  SILVER  BRONZE  TOTALS
0              United States    39      41      33     113
1                      China    38      32      18      88
2                      Japan    27      14      17      58
3              Great Britain    22      21      22      65
4  Russian Olympic Committee    20      28      23      71

Read csv file with country indicator data into pandas

In [3]:
indicators_df = pd.read_csv('Data/indicators.csv')
indicators_df.head()

,country_name,Current health expenditure (% of GDP),"GDP per capita, PPP (constant 2017 international $)",Gini index (World Bank estimate),"Government expenditure on education, total (% of GDP)",International migrant stock (% of population),"PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)","Population ages 20-24, female (% of female population)","Population ages 20-24, male (% of male population)","Population ages 25-29, female (% of female population)","Population ages 25-29, male (% of male population)","Population ages 30-34, female (% of female population)","Population ages 30-34, male (% of male population)","Population, total",Urban population (% of total population)
0,Afghanistan,9.395727,1978.961579,NaN,3.21378,1.175547,56.910808,10.073862,10.098379,7.907260,8.063549,6.221683,6.503323,38928341.0,26.026000
1,Africa Eastern and Southern,5.925882,3371.814704,NaN,4.71930,1.734768,35.512988,9.218579,9.355607,7.906863,7.947182,6.763558,6.723442,677243299.0,36.783306
2,Africa Western and Central,4.004790,3995.039927,NaN,3.03285,2.079691,58.064482,8.940792,9.041989,7.522335,7.578698,6.425444,6.427822,458803476.0,47.848625
3,Albania,5.262714,13295.410885,33.2,3.94576,1.989036,18.200603,7.853874,8.013442,8.138641,8.828823,7.168070,8.372488,2837743.0,62.112000
4,Algeria,6.218427,10681.679297,27.6,6.10036,0.611072,38.884011,6.769581,6.910889,8.120237,8.179230,8.527349,8.474931,43851043.0,73.733000

# Scrub Data

Drop uneeded columns from indicators_df

In [6]:
df = pd.merge(medals_df, indicators_df, left_on = 'COUNTRY', right_on = 'country_name')
print(df.shape)
df.head(50)

(80, 20)

,COUNTRY,GOLD,SILVER,BRONZE,TOTALS,country_name,Current health expenditure (% of GDP),"GDP per capita, PPP (constant 2017 international $)",Gini index (World Bank estimate),"Government expenditure on education, total (% of GDP)",International migrant stock (% of population),"PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)","Population ages 20-24, female (% of female population)","Population ages 20-24, male (% of male population)","Population ages 25-29, female (% of female population)","Population ages 25-29, male (% of male population)","Population ages 30-34, female (% of female population)","Population ages 30-34, male (% of male population)","Population, total",Urban population (% of total population)
0,United States,39,41,33,113,United States,16.885298,60162.909040,41.4,NaN,14.490654,7.409442,6.540027,6.913125,6.991455,7.414830,6.787581,7.145002,3.294841e+08,82.664
1,China,38,32,18,88,China,5.351080,16410.797797,38.5,3.54249,0.071076,52.664596,5.831647,6.268071,6.627831,6.979076,8.885728,9.000131,1.402112e+09,61.428
2,Japan,27,14,17,58,Japan,10.953388,39200.657167,32.9,NaN,1.614775,11.704778,4.513509,4.980451,4.633396,5.103483,5.120588,5.628105,1.258360e+08,91.782
3,Australia,17,7,22,46,Australia,9.284598,48697.837028,34.4,5.10789,28.218410,8.550324,6.119290,6.388266,6.805434,7.163807,7.310814,7.399108,2.568704e+07,86.241
4,Netherlands,10,12,14,36,Netherlands,9.974586,54325.508829,28.1,5.35765,11.695683,12.034408,5.796915,6.118486,6.144205,6.424525,6.182796,6.390403,1.744114e+07,92.236
5,France,10,12,11,33,France,11.257895,42313.193109,32.4,5.41317,12.088479,11.814964,5.427057,5.916428,5.497921,5.768026,5.965934,6.115854,6.739158e+07,80.975
6,Germany,10,11,16,37,Germany,11.429951,51259.239556,31.9,4.99274,14.879051,12.028767,5.124005,5.752610,5.433641,6.088959,6.181597,6.815844,8.324052e+07,77.453
7,Italy,10,10,20,39,Italy,8.667634,38992.148381,35.9,4.25572,9.680768,16.750712,4.563964,5.185785,4.950022,5.520909,5.358853,5.785012,5.955402e+07,71.039
8,Canada,7,6,11,24,Canada,10.790469,45910.174955,33.3,5.26205,21.801664,6.428383,6.076998,6.450040,7.067898,7.417936,6.893269,7.025109,3.800524e+07,81.562
9,Brazil,7,6,8,21,Brazil,9.514387,14059.369598,53.4,6.08851,0.343313,12.706629,7.830381,8.316649,7.786078,8.171533,7.931868,8.207612,2.125594e+08,87.073
10,New Zealand,7,6,7,20,New Zealand,9.210346,42404.366897,NaN,6.04850,22.959700,5.956001,6.448429,7.018800,6.866974,7.525854,6.646588,6.812401,5.084300e+06,86.699
11,Cuba,7,3,5,15,Cuba,11.187454,NaN,NaN,12.83731,0.117090,19.706047,5.980627,6.405016,6.089128,6.623653,7.148859,7.527935,1.132662e+07,77.194
12,Hungary,6,7,7,20,Hungary,6.700072,31007.768407,29.6,4.62731,4.562465,15.926048,4.985735,5.775236,6.120648,7.044274,5.910003,6.806794,9.749763e+06,71.942
13,Poland,4,5,5,14,Poland,6.330850,32238.157259,30.2,4.61580,1.604181,20.877822,4.975539,5.427666,6.161695,6.890146,6.949153,8.017049,3.795080e+07,60.043
14,Czech Republic,4,4,3,11,Czech Republic,7.646512,38509.266911,25.0,4.26692,3.842226,16.071245,4.234465,4.574509,5.710186,6.135773,6.420097,6.977496,1.069890e+07,74.061
15,Kenya,4,4,2,10,Kenya,5.167295,4220.440248,40.8,5.07997,2.354723,28.578374,9.675130,9.802943,8.097137,8.111154,7.504014,7.457926,5.377130e+07,27.995
16,Norway,4,2,2,8,Norway,10.049393,63583.735985,27.6,7.64411,14.235611,6.956520,6.372081,6.657596,6.737581,7.024204,6.878112,7.022489,5.379475e+06,82.974
17,Jamaica,4,1,4,9,Jamaica,6.061356,8739.986672,NaN,5.40338,0.829367,13.404151,8.590297,9.052823,8.398077,8.782213,7.712535,7.992428,2.961161e+06,56.311
18,Spain,3,8,6,17,Spain,8.977414,36219.938442,34.7,4.17816,12.690237,9.697928,4.630394,5.026325,4.868419,5.240383,5.479898,5.727338,4.735157e+07,80.810
19,Sweden,3,6,0,9,Sweden,10.898501,51003.280773,30.0,7.64084,16.767559,6.184665,5.232581,5.535678,7.116389,7.401837,6.744965,6.977361,1.035344e+07,87.977
20,Switzerland,3,4,6,13,Switzerland,11.876209,66358.984826,33.1,4.86094,29.386686,10.303100,5.456126,5.735123,6.284909,6.555265,6.787389,7.023771,8.636896e+06,73.915
21,Denmark,3,4,4,11,Denmark,10.070716,55819.909528,28.2,7.75244,10.098991,10.029653,6.254167,6.660228,6.759206,7.124185,5.979933,6.280213,5.831404e+06,88.116
22,Croatia,3,3,2,8,Croatia,6.827024,26465.127310,29.7,3.90567,13.604714,17.901772,5.411068,6.117996,5.431341,6.093088,5.961826,6.607009,4.047200e+06,57.553
23,Serbia,3,1,5,9,Serbia,8.538990,18210.004620,36.2,3.61922,9.122622,24.726358,5.744328,6.381432,6.231640,6.904956,6.731582,7.426961,6.908224e+06,56.446
24,Belgium,3,1,3,7,Belgium,10.318653,48203.641939,27.2,6.37664,12.283533,12.886518,5.473475,5.879915,6.094232,6.478696,6.345768,6.532819,1.155600e+07,98.079
25,Bulgaria,3,1,2,6,Bulgaria,7.346679,22383.805544,41.3,4.09102,1.428196,19.149132,4.043478,4.592011,5.278089,5.980639,6.516253,7.347899,6.927288e+06,75.686
26,Slovenia,3,1,1,5,Slovenia,8.298910,37089.095078,24.6,4.93604,11.412964,16.023980,4.450983,4.816418,5.103277,5.401215,6.165266,6.715030,2.100126e+06,55.118
27,Uzbekistan,3,0,2,5,Uzbekistan,5.291491,6994.169412,NaN,5.11241,3.916903,28.455901,8.124411,8.502689,9.233365,9.678463,8.983972,9.124918,3.423205e+07,50.416
28,Georgia,2,5,1,8,Georgia,7.113297,14089.302334,35.9,3.83913,4.220248,22.196055,5.278963,6.479552,6.315483,7.122821,6.972635,7.574056,3.714000e+06,59.453
29,Turkey,2,2,9,13,Turkey,4.124141,28384.987784,41.9,4.29460,3.769001,44.311526,7.776403,8.284311,7.398724,7.792923,7.438502,7.730117,8.433907e+07,76.105
30,Greece,2,1,1,4,Greece,7.715441,27287.083401,32.9,3.59395,11.342377,16.218266,4.879495,5.286536,4.729793,5.410250,5.419287,6.063498,1.071555e+07,79.715
31,Uganda,2,1,1,4,Uganda,6.526236,2177.595854,42.8,3.01393,1.920126,50.494321,9.504475,9.419048,7.894389,7.599540,6.394471,6.055745,4.574100e+07,24.954
32,Ecuador,2,1,0,3,Ecuador,8.136465,10329.198753,45.7,4.13413,2.400299,14.886101,8.738776,9.019227,8.251557,8.408256,7.699468,7.753087,1.764306e+07,64.166
33,Ireland,2,0,2,4,Ireland,6.928704,90687.476046,31.4,3.38309,15.916937,8.208577,5.751902,5.983073,5.487951,5.760012,6.274616,6.320234,4.994724e+06,63.653
34,Israel,2,0,2,4,Israel,7.517035,38404.950047,39.0,6.16490,24.946900,21.381102,6.989242,7.430648,6.437651,6.804133,6.424586,6.624797,9.216900e+06,92.587
35,Qatar,2,0,1,3,Qatar,2.494805,85266.210586,NaN,3.19033,75.497628,91.187328,6.724308,8.743196,10.212243,18.789406,13.141600,18.523926,2.881060e+06,99.235
36,Kosovo,2,0,0,2,Kosovo,NaN,10776.095247,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.775378e+06,NaN
37,Ukraine,1,6,12,19,Ukraine,7.723917,12377.017293,26.6,5.43965,10.786461,20.309776,4.453433,5.432517,5.725045,6.952232,7.498514,9.005940,4.413469e+07,69.608
38,Belarus,1,3,3,7,Belarus,5.644266,19148.175101,25.3,4.95245,11.404011,18.765580,4.096354,4.969079,6.308988,7.585841,7.865398,9.474454,9.398861e+06,79.483
39,Romania,1,3,0,4,Romania,5.556606,28832.623149,35.8,3.34475,1.163135,14.611340,4.930791,5.586208,5.198037,6.014863,6.748366,7.795273,1.928612e+07,54.194
40,India,1,2,4,7,India,3.544245,6121.314984,35.7,3.45098,0.399753,90.873210,8.694931,9.045562,8.350829,8.651409,8.040570,8.210125,1.380004e+09,34.926
41,Philippines,1,2,1,4,Philippines,4.400607,7953.581644,42.3,3.23437,0.210391,18.069799,9.005271,9.434610,8.564575,8.736532,7.479835,7.571992,1.095811e+08,47.408
42,South Africa,1,2,0,3,South Africa,8.253421,11466.189672,63.0,6.83613,5.767090,25.102205,8.132443,8.477615,8.602631,8.997244,8.852914,9.275842,5.930869e+07,67.354
43,Austria,1,1,5,7,Austria,10.325599,52119.848245,30.8,5.22536,17.465726,12.477967,5.375863,5.929714,6.449940,7.029003,6.668851,7.113716,8.917205e+06,58.748
44,Indonesia,1,1,3,5,Indonesia,2.870530,11444.960683,38.2,2.84185,0.127676,16.502653,8.120059,8.441724,7.568184,7.726032,7.376726,7.228713,2.735236e+08,56.641
45,Portugal,1,1,2,4,Portugal,9.407835,32177.965072,33.5,4.67516,8.089594,8.160752,5.023347,5.595856,5.043467,5.449692,5.346892,5.674214,1.030556e+07,66.310
46,Ethiopia,1,1,2,4,Ethiopia,3.295557,2296.827352,35.0,5.06868,1.079526,38.978738,10.124460,10.311212,8.359829,8.501405,6.540917,6.539562,1.149636e+08,21.695
47,Tunisia,1,1,0,2,Tunisia,7.292096,9727.473955,32.8,7.32435,0.503850,37.655994,6.632895,7.270535,7.509165,7.792055,8.036015,7.668197,1.181862e+07,69.568
48,Estonia,1,0,1,2,Estonia,6.687877,35251.023015,30.3,5.23887,15.416309,6.732124,4.074444,4.704387,5.912621,7.362648,6.855775,8.546501,1.331057e+06,69.229
49,Fiji,1,0,1,2,Fiji,3.423666,10997.473483,36.7,5.06788,1.541341,10.840160,7.961331,8.074570,7.791812,7.838676,7.353094,7.555868,8.964440e+05,57.247